{
  "passPerPreset": true,
  "presets": [
    {
      "passPerPreset": false,
      "presets": [ "es2015", "stage-0" ]
    },
    {
      "plugins": [
        "transform-runtime",
        "transform-es2015-modules-commonjs",
        "transform-regenerator",
        "transform-object-rest-spread",
        "syntax-async-functions",
        "transform-es2015-for-of"
      ]
    }
  ]
}
